.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.number {
    font-size: 40px;
    color: aqua;
}

.red{
    color: red;
    font-size: 40px;
}